VITE_SUPABASE_URL=https://bwfluudjcrbhchxjpwyd.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_REPLACE_ME
VITE_CATALOG_SLUG=catalogo-principal
VITE_SUPABASE_IMAGE_TRANSFORMS=false
VITE_R2_PUBLIC_URL=https://pub-ab49edfffb1a4ecd8d91baf47a168894.r2.dev
SUPABASE_URL=https://bwfluudjcrbhchxjpwyd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=REPLACE_IN_NETLIFY_ONLY
R2_BUCKET_NAME=impormed-catalog
R2_ENDPOINT=https://5223458503a09af739852101a0b37808.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=REPLACE_IN_NETLIFY_ONLY
R2_SECRET_ACCESS_KEY=REPLACE_IN_NETLIFY_ONLY
