.page {
  width: 210mm;
  min-height: 297mm;
  position: relative;
  overflow: hidden;
  background: #fff;
}

:global(body.mode-print) .page {
  margin: -3mm;
  width: 216mm;
  min-height: 303mm;
  height: 303mm;
}

.coverImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
